<ion-content>
    <app-contact></app-contact>
    <ion-card>
        <ion-card-title align="center">
            Iniciar Sesión
        </ion-card-title>
        <ion-card-content>
            <form #form="ngForm" (ngSubmit)="login(form)">
                <div>
                    <h2> Email </h2>
                    <ion-item>
                        <ion-input class="input" name="email" type="email" placeholder="your@email.com" ngModel
                            required></ion-input>
                    </ion-item>
                    <h2> Contraseña </h2>
                    <ion-item>
                        <ion-input class="input" name="password" type="password" placeholder="password" ngModel
                            required></ion-input>
                    </ion-item>
                </div>
                <br>
                <div align="center">
                    <h2 class="dark"> He olvidado mi contraseña </h2>
                    <app-button routerLink="/home" title="Iniciar Sesión"></app-button>
                </div>
                <br>
                <div align="center">
                    <h2 class="dark"> No tengo cuenta</h2>
                    <app-button routerLink="/sign-in" title="Registrarse"></app-button>
                </div>
                <h2 class="guest dark"> Entrar como invitado </h2>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <app-logo-footer></app-logo-footer>
</ion-footer>