<ion-card>
  <ion-card-title align="center">
    Preguntas frecuentes
  </ion-card-title>
  <ion-card-content align="center" class="dark">
    ¿Cómo navego entre los restaurantes?
    <br><br>
    ¿Puedo valorar sin estar registrado/a?
    <br><br>
    ¿Cómo vuelvo a la pantalla principal?
    <br><br>
    ¿Puedo iniciar sesión con Google?
    <br><br>
    Quiero valorar un restaurante pero
    no aparece
    <br><br>
    ¿Cómo cancelo una valoración?
    <div class="contact">
      <h2> ¿No hemos resuelto tu duda? </h2>
      <app-button routerLink="/contact" title="Contacta"></app-button>
    </div>

  </ion-card-content>
</ion-card>