ion-card{
    height: 42em;
    background: rgba(206, 199, 222, 0.5);
    margin-top: 3em;
    
}
ion-card-title{
    font-size: 2em;
    color: rgba(50, 10, 40, 1);
}

.contact{
    margin-top: 10em;
}