<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-icon (click)="logout()" class="icon" name="log-out-outline"></ion-icon>
        </ion-col>
        <ion-col size="6">

        </ion-col>
        <ion-col align="end" size="3">
          <ion-icon class="icon" name="moon-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content align="center">
      <img class="img" src="./assets/img/profile_example.png" alt="image" />
    </ion-card-content>
    <ion-card-content>

      <form [formGroup]="userForm" (ngSubmit)="submitForm()" >

        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">Name is required.</span>
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input class="input" formControlName="name" type="text" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.CP.errors?.required">CP is
          required.</span>
        <ion-item lines="full">
          <ion-label position="floating">CP</ion-label>
          <ion-input class="input" formControlName="CP" type="number" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">Email is
          required.</span>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input class="input" formControlName="email" type="text" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" class="submitButton" expand="block">Submit</ion-button>
          </ion-col>
        </ion-row>
      </form>

      <!-- <div>
        <h2 class="name"> Cambiar nombre </h2>
        <ion-item>
          <ion-input class="input" name="name" type="text" ngModel required></ion-input>
        </ion-item>
      </div>
      <div>
        <h2 class="name"> Cambiar CP </h2>
        <ion-item>
          <ion-input class="input" name="CP" type="number" ngModel required></ion-input>
        </ion-item>
      </div>
      <div class="email">
        <h2> Email</h2>
        <ion-item>
          <ion-input class="input" name="email" type="email" ngModel required></ion-input>
        </ion-item>
        <ion-card-content align="center">
          <app-button title="Confirmar"></app-button>
        </ion-card-content>
      </div> -->
    </ion-card-content>

  </ion-card>


</ion-content>
<footer>
  <app-menu></app-menu>
</footer>