ion-searchbar.custom {
    --background: rgba(218, 152, 153, 0.5);
    --color: rgba(81, 23, 48, 1);
    --placeholder-color: rgba(81, 23, 48, 1);
    --icon-color: rgba(81, 23, 48, 1);
    --clear-button-color: rgba(81, 23, 48, 1);

    --border-radius: 50px;
}